body {
    color: #434455;
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
    line-height: 24px;
    letter-spacing: 0.32px;
}

p {
    color: #434455;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #E7E9FC;
    background-color: #FFF;
}

.nav {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.webstudio-header {
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    color: #4D5AE5;
}

.studio-header {
    color: #2E2F42;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.nav-list {

}

.nav-list-text {
    color: #2E2F42;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.address-header {
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.contacts-link {
    color: #434455;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.dark-bg {
    flex-shrink: 0;
    background-color: #2E2F42;
}

.mainpage-title {
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.button {
    display: inline-flex;
    align-items: flex-start;
    background-color: #4D5AE5;

}

.button-text {
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px; 
}

.features {
    width: 1128px;
    height: 104px;
    flex-shrink: 0;
}

h2 {
    color:#2E2F42;
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.features-list {

}

.features-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h3 {
    color: #2E2F42;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.light-bg {
    flex-shrink: 0;
    background-color: #F4F4FD;
}

.our-team-list {

}

.our-team-list-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.our-portfolio {
    flex-shrink: 0;
}

.our-portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.our-portfolio-list {
    width: 1128px;
    height: 420px;
    flex-shrink: 0;
}

.our-portfolio-list-item {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid #E7E9FC;
    background-color: #FFF;
}

.our-portfolio-list-title {
    color:#2E2F42;
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;  
}

.footer {
    background-color: #2E2F42;
    flex-shrink: 0;
}

.webstudio-footer {
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4D5AE5;
}

.studio-footer {
    color: #F4F4FD;
}